10_1_2018_iot.txt
[{"id":"4005546e.590b8c","type":"mqtt in","z":"a3bd263a.b87688","name":"","topic":"DHT11out","qos":"2","broker":"19928e7d.a46c62","x":420,"y":200,"wires":[["12f23b3c.87d4d5","42aad6a5.45e758"]]},{"id":"efed7062.5021c","type":"mqtt out","z":"a3bd263a.b87688","name":"","topic":"DHT11interval","qos":"2","retain":"","broker":"ea7c91b6.e0d32","x":580,"y":1040,"wires":[]},{"id":"e6543f5c.13141","type":"inject","z":"a3bd263a.b87688","name":"measuring interval","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":371.00001525878906,"y":1038.0000495910645,"wires":[["efed7062.5021c"]]},{"id":"12f23b3c.87d4d5","type":"function","z":"a3bd263a.b87688","name":"split string","func":"var output = msg.payload.split(\" \");\n \nvar msg1 = {payload:output[0] + \" ¡ãC\"};\nvar msg2 = {payload:output[1] + \" %\"};\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":646.0000228881836,"y":191.00000762939453,"wires":[["4159197.30a2fe8","4c62621d.1673cc"],["6386b727.fb34b8","c423ebbf.9312e8"]]},{"id":"4159197.30a2fe8","type":"ui_text","z":"a3bd263a.b87688","group":"1c7a7fb3.c427f","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","x":947.0000457763672,"y":132.00000381469727,"wires":[]},{"id":"6386b727.fb34b8","type":"ui_text","z":"a3bd263a.b87688","group":"1c7a7fb3.c427f","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"col-center","x":944.0000534057617,"y":192.00000524520874,"wires":[]},{"id":"4c62621d.1673cc","type":"function","z":"a3bd263a.b87688","name":"string to float(temp)","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":930.0000076293945,"y":260.00000286102295,"wires":[["106c739f.d8079c","13e59c5e.3fd7d4"]]},{"id":"c423ebbf.9312e8","type":"function","z":"a3bd263a.b87688","name":"string to float(humi)","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":928.0000381469727,"y":373.0000228881836,"wires":[["87274220.d4d84","d7140fc.b541ef"]]},{"id":"87274220.d4d84","type":"ui_gauge","z":"a3bd263a.b87688","name":"humi","group":"1c7a7fb3.c427f","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1171.0003337860107,"y":432.00014781951904,"wires":[]},{"id":"106c739f.d8079c","type":"ui_chart","z":"a3bd263a.b87688","name":"Temp","group":"a8346406.1fe678","order":0,"width":"6","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1213.9806175231934,"y":180.99611282348633,"wires":[[],[]]},{"id":"60fe886f.2e90b8","type":"ui_switch","z":"a3bd263a.b87688","name":"","label":"LED","group":"1c7a7fb3.c427f","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Led","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":738.0002250671387,"y":519.0004978179932,"wires":[["8d484fb9.ef94f","1cdd8120.c2ddff","6ed3df55.7f526"]]},{"id":"8d484fb9.ef94f","type":"mqtt out","z":"a3bd263a.b87688","name":"","topic":"LEDin","qos":"2","retain":"","broker":"19928e7d.a46c62","x":932.0002632141113,"y":506.0001525878906,"wires":[]},{"id":"42aad6a5.45e758","type":"function","z":"a3bd263a.b87688","name":"check temp","func":"context.data = context.data || {};\n\n//get input from 2 source\nswitch (msg.topic){\n    \n    case \"DHT11out\":\n        var output = msg.payload.split(\" \");\n        context.data.temp = parseFloat(output[0]);\n        msg = null;\n        break;\n        \n    case \"auto\":\n        context.data.auto = msg.payload;\n        msg = null\n        break;\n    \n    default:\n        msg = null;\n        break;\n \n} \n\n  //check for input condition\n if(context.data.temp != null && context.data.auto != null){\n    if(context.data.temp >= 32 && context.data.auto ==1)\n    {\n        var output = 1;\n        //context.data = null; //uncomment will cause input to not update\n        return {payload:output};\n    }\n    else if (context.data.temp < 32 && context.data.auto ==1)\n    {\n        var output = 0;\n        //context.data = null;\n        return {payload:output};\n    }\n    else return msg;\n  }","outputs":"1","noerr":0,"x":489.0001220703125,"y":523.0000886917114,"wires":[["7dde712c.a3a2c","60fe886f.2e90b8"]]},{"id":"78220ccf.100cd4","type":"ui_switch","z":"a3bd263a.b87688","name":"","label":"auto on","group":"1c7a7fb3.c427f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"auto","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":220,"y":520,"wires":[["42aad6a5.45e758","93b84b73.8cbbd8"]]},{"id":"7dde712c.a3a2c","type":"debug","z":"a3bd263a.b87688","name":"","active":false,"console":"false","complete":"payload","x":585.0195236206055,"y":668.5039215087891,"wires":[]},{"id":"3399b61c.15cc6a","type":"firebase auth","z":"a3bd263a.b87688","name":"start firebase","firebaseconfig":"","x":350.89452362060547,"y":1113.5584630966187,"wires":[[]]},{"id":"d7140fc.b541ef","type":"firebase modify","z":"a3bd263a.b87688","name":"Send humi to firebase","firebaseconfig":"","childpath":"humi","method":"set","value":"msg.payload","priority":"msg.priority","x":1220,"y":500,"wires":[[]]},{"id":"9c13a4d6.ec6268","type":"firebase modify","z":"a3bd263a.b87688","name":"send timestamp + temp","firebaseconfig":"","childpath":"temperature","method":"push","value":"msg.payload","priority":"msg.priority","x":1556.5327529907227,"y":221.82056999206543,"wires":[[]]},{"id":"13e59c5e.3fd7d4","type":"function","z":"a3bd263a.b87688","name":"format data before sending","func":" msg.payload = {\n                \"temp\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC","outputs":1,"noerr":0,"x":1242.7813987731934,"y":296.3282308578491,"wires":[["f73bbf80.447c8","9c13a4d6.ec6268"]]},{"id":"f73bbf80.447c8","type":"debug","z":"a3bd263a.b87688","name":"","active":false,"console":"false","complete":"payload","x":1525.7898292541504,"y":377.1173324584961,"wires":[]},{"id":"efb3ccd9.6a32a","type":"firebase.on","z":"a3bd263a.b87688","name":"led_switch","firebaseconfig":"","childpath":"led_switch","atStart":true,"eventType":"value","queries":[],"x":716.7812652587891,"y":734.5316066741943,"wires":[["60fe886f.2e90b8","4cc4577c.1ed178"]]},{"id":"2ace09ae.989926","type":"firebase.on","z":"a3bd263a.b87688","name":"auto switch","firebaseconfig":"","childpath":"auto_switch","atStart":true,"eventType":"value","queries":[],"x":210,"y":620,"wires":[["78220ccf.100cd4","43321ebe.c9b06"]]},{"id":"43321ebe.c9b06","type":"debug","z":"a3bd263a.b87688","name":"","active":false,"console":"false","complete":"false","x":370,"y":700,"wires":[]},{"id":"4cc4577c.1ed178","type":"debug","z":"a3bd263a.b87688","name":"","active":false,"console":"false","complete":"false","x":937.7737007141113,"y":777.6251697540283,"wires":[]},{"id":"1cdd8120.c2ddff","type":"firebase modify","z":"a3bd263a.b87688","name":"upload led state","firebaseconfig":"","childpath":"led_state","method":"set","value":"msg.payload","priority":"msg.priority","x":969.7894477844238,"y":592.6566314697266,"wires":[[]]},{"id":"6ed3df55.7f526","type":"debug","z":"a3bd263a.b87688","name":"","active":false,"console":"false","complete":"false","x":964.0234603881836,"y":659.0391101837158,"wires":[]},{"id":"93b84b73.8cbbd8","type":"firebase modify","z":"a3bd263a.b87688","name":"set auto switch","firebaseconfig":"","childpath":"auto_switch","method":"set","value":"msg.payload","priority":"msg.priority","x":300,"y":440,"wires":[[]]},{"id":"df5728bd.559488","type":"ui_switch","z":"a3bd263a.b87688","name":"","label":"AutoOnGps","group":"1c7a7fb3.c427f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":470,"y":880,"wires":[["50c3f4da.b9df1c"]]},{"id":"50c3f4da.b9df1c","type":"firebase modify","z":"a3bd263a.b87688","name":"set autoOnGps","firebaseconfig":"","childpath":"autoOnGps","method":"set","value":"msg.payload","priority":"msg.priority","x":660,"y":900,"wires":[[]]},{"id":"e7ded08a.bdff","type":"firebase.on","z":"a3bd263a.b87688","name":"get autoOnGpsState of phone","firebaseconfig":"","childpath":"autoOnGps","atStart":true,"eventType":"value","queries":[],"x":240,"y":840,"wires":[["df5728bd.559488"]]},{"id":"19928e7d.a46c62","type":"mqtt-broker","z":"","broker":"192.168.137.139","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"7","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ea7c91b6.e0d32","type":"mqtt-broker","z":"","broker":"192.168.137.139","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1c7a7fb3.c427f","type":"ui_group","z":"","name":"NodeMcu","tab":"d9d70f7b.b6821","disp":true,"width":"6"},{"id":"a8346406.1fe678","type":"ui_group","z":"","name":"NodeMcu Chart","tab":"d9d70f7b.b6821","disp":true,"width":"6"},{"id":"d9d70f7b.b6821","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]