23-6-18 (2).txt
[
    {
        "id": "a3bd263a.b87688",
        "type": "tab",
        "label": "sensor 1 Iot",
        "disabled": true,
        "info": "//TODO\n\n//Problem\nwhen internet lag, the switch of phone will have conflict with the switch of nodered"
    },
    {
        "id": "468171ea.27d16",
        "type": "tab",
        "label": "sensor 2 Iot",
        "disabled": true,
        "info": "//TODO\n\n//Problem\nwhen internet lag, the switch of phone will have conflict with the switch of nodered"
    },
    {
        "id": "977ddc73.6ab73",
        "type": "tab",
        "label": "i2c lcd display",
        "disabled": true,
        "info": ""
    },
    {
        "id": "29f95585.e0abba",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "19928e7d.a46c62",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.137.139",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "7",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "ea7c91b6.e0d32",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.137.139",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f8bda0c7.c1049",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "d9d70f7b.b6821",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "c32631ac.b7225",
        "type": "ui_group",
        "z": "",
        "name": "Rpi",
        "tab": "d9d70f7b.b6821",
        "disp": true,
        "width": "6"
    },
    {
        "id": "cfab7de1.7a286",
        "type": "ui_group",
        "z": "",
        "name": "Arduino",
        "tab": "d9d70f7b.b6821",
        "disp": true,
        "width": "6"
    },
    {
        "id": "1c7a7fb3.c427f",
        "type": "ui_group",
        "z": "",
        "name": "NodeMcu",
        "tab": "d9d70f7b.b6821",
        "disp": true,
        "width": "6"
    },
    {
        "id": "a8346406.1fe678",
        "type": "ui_group",
        "z": "",
        "name": "NodeMcu Chart",
        "tab": "d9d70f7b.b6821",
        "disp": true,
        "width": "6"
    },
    {
        "id": "c59bdc7d.28489",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "NodeRedSQLClient",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d367258c.74bea8",
        "type": "MSSQL-CN",
        "z": "",
        "name": "Dev",
        "server": "172.16.142.83",
        "encyption": false,
        "database": "Rpi"
    },
    {
        "id": "1b03d2da.5ec0ad",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "NodeRedSQLClient",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "a2fa26cd.f90908",
        "type": "MSSQL-CN",
        "z": "",
        "name": "Rpi",
        "server": "172.16.7.148",
        "encyption": true,
        "database": "Rpi"
    },
    {
        "id": "51bc3477.99612c",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "iot-with-firebase",
        "loginType": "none"
    },
    {
        "id": "3d5f0f11.5fe2c",
        "type": "ui_tab",
        "z": "",
        "name": "NodeMcu chart",
        "icon": "dashboard"
    },
    {
        "id": "b5712121.e5fdf",
        "type": "ui_group",
        "z": "",
        "name": "Chart",
        "tab": "3d5f0f11.5fe2c",
        "disp": true,
        "width": "6"
    },
    {
        "id": "cb60b3b4.cc298",
        "type": "ui_group",
        "z": "",
        "name": "NodeMcu sensor2",
        "tab": "d9d70f7b.b6821",
        "disp": true,
        "width": "6"
    },
    {
        "id": "6199d0f2.ef7f2",
        "type": "ui_group",
        "z": "",
        "name": "NodeMcuChart sensor2",
        "tab": "d9d70f7b.b6821",
        "disp": true,
        "width": "6"
    },
    {
        "id": "4005546e.590b8c",
        "type": "mqtt in",
        "z": "a3bd263a.b87688",
        "name": "",
        "topic": "DHT11out",
        "qos": "1",
        "broker": "19928e7d.a46c62",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "12f23b3c.87d4d5",
                "42aad6a5.45e758"
            ]
        ]
    },
    {
        "id": "efed7062.5021c",
        "type": "mqtt out",
        "z": "a3bd263a.b87688",
        "name": "",
        "topic": "DHT11interval",
        "qos": "1",
        "retain": "",
        "broker": "ea7c91b6.e0d32",
        "x": 560,
        "y": 980,
        "wires": []
    },
    {
        "id": "e6543f5c.13141",
        "type": "inject",
        "z": "a3bd263a.b87688",
        "name": "measuring interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 331.00001525878906,
        "y": 998.0000495910645,
        "wires": [
            [
                "efed7062.5021c"
            ]
        ]
    },
    {
        "id": "12f23b3c.87d4d5",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "split string",
        "func": "var output = msg.payload.split(\" \");\n \nvar msg1 = {payload:output[0] + \" ¡ãC\"};\nvar msg2 = {payload:output[1] + \" %\"};\n\nreturn [msg1,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "4159197.30a2fe8",
                "4c62621d.1673cc"
            ],
            [
                "6386b727.fb34b8",
                "c423ebbf.9312e8"
            ]
        ]
    },
    {
        "id": "4159197.30a2fe8",
        "type": "ui_text",
        "z": "a3bd263a.b87688",
        "group": "1c7a7fb3.c427f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 947.0000457763672,
        "y": 132.00000381469727,
        "wires": []
    },
    {
        "id": "6386b727.fb34b8",
        "type": "ui_text",
        "z": "a3bd263a.b87688",
        "group": "1c7a7fb3.c427f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 944.0000534057617,
        "y": 192.00000524520874,
        "wires": []
    },
    {
        "id": "4c62621d.1673cc",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910.0000076293945,
        "y": 260.00000286102295,
        "wires": [
            [
                "106c739f.d8079c",
                "13e59c5e.3fd7d4",
                "8d9b337f.e9872"
            ]
        ]
    },
    {
        "id": "c423ebbf.9312e8",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 908.0000381469727,
        "y": 373.0000228881836,
        "wires": [
            [
                "87274220.d4d84",
                "188a9fa3.d462a",
                "c9126fc3.d4a8f"
            ]
        ]
    },
    {
        "id": "87274220.d4d84",
        "type": "ui_gauge",
        "z": "a3bd263a.b87688",
        "name": "humi",
        "group": "1c7a7fb3.c427f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1290,
        "y": 340,
        "wires": []
    },
    {
        "id": "106c739f.d8079c",
        "type": "ui_chart",
        "z": "a3bd263a.b87688",
        "name": "Temp",
        "group": "a8346406.1fe678",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 1210,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "60fe886f.2e90b8",
        "type": "ui_switch",
        "z": "a3bd263a.b87688",
        "name": "",
        "label": "LED",
        "group": "1c7a7fb3.c427f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Led",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 738.0002250671387,
        "y": 519.0004978179932,
        "wires": [
            [
                "8d484fb9.ef94f",
                "1cdd8120.c2ddff",
                "6ed3df55.7f526"
            ]
        ]
    },
    {
        "id": "8d484fb9.ef94f",
        "type": "mqtt out",
        "z": "a3bd263a.b87688",
        "name": "",
        "topic": "LEDin",
        "qos": "1",
        "retain": "",
        "broker": "19928e7d.a46c62",
        "x": 932.0002632141113,
        "y": 506.0001525878906,
        "wires": []
    },
    {
        "id": "42aad6a5.45e758",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "check temp",
        "func": "context.data = context.data || {};\n\n//get input from 2 source\nswitch (msg.topic){\n    \n    case \"DHT11out\":\n        var output = msg.payload.split(\" \");\n        context.data.temp = parseFloat(output[0]);\n        msg = null;\n        break;\n        \n    case \"auto\":\n        context.data.auto = msg.payload;\n        msg = null\n        break;\n    \n    default:\n        msg = null;\n        break;\n \n} \n\n  //check for input condition\n if(context.data.temp != null && context.data.auto != null){\n    if(context.data.temp >= 26 && context.data.auto ==1)\n    {\n        var output = 1;\n        //context.data = null; //uncomment will cause input to not update\n        return {payload:output};\n    }\n    else if (context.data.temp < 26 && context.data.auto ==1)\n    {\n        var output = 0;\n        //context.data = null;\n        return {payload:output};\n    }\n    else return msg;\n  }",
        "outputs": "1",
        "noerr": 0,
        "x": 489.0001220703125,
        "y": 523.0000886917114,
        "wires": [
            [
                "7dde712c.a3a2c",
                "60fe886f.2e90b8"
            ]
        ]
    },
    {
        "id": "78220ccf.100cd4",
        "type": "ui_switch",
        "z": "a3bd263a.b87688",
        "name": "",
        "label": "auto on (temperature)",
        "group": "1c7a7fb3.c427f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "auto",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 260,
        "y": 520,
        "wires": [
            [
                "42aad6a5.45e758",
                "93b84b73.8cbbd8"
            ]
        ]
    },
    {
        "id": "7dde712c.a3a2c",
        "type": "debug",
        "z": "a3bd263a.b87688",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 585.0195236206055,
        "y": 668.5039215087891,
        "wires": []
    },
    {
        "id": "3399b61c.15cc6a",
        "type": "firebase auth",
        "z": "a3bd263a.b87688",
        "name": "start firebase",
        "firebaseconfig": "51bc3477.99612c",
        "x": 330,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d7140fc.b541ef",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "Send hum + timestampi to firebase",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Humidity 1",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1640,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9c13a4d6.ec6268",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "send timestamp + temp",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Temperature 1",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1630,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "13e59c5e.3fd7d4",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"temp\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1316.0193824768066,
        "y": 139.00388717651367,
        "wires": [
            [
                "f73bbf80.447c8",
                "9c13a4d6.ec6268"
            ]
        ]
    },
    {
        "id": "f73bbf80.447c8",
        "type": "debug",
        "z": "a3bd263a.b87688",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1606.0193824768066,
        "y": 179.00388717651367,
        "wires": []
    },
    {
        "id": "efb3ccd9.6a32a",
        "type": "firebase.on",
        "z": "a3bd263a.b87688",
        "name": "led_switch",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Control 1/led_switch",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 716.7812652587891,
        "y": 734.5316066741943,
        "wires": [
            [
                "60fe886f.2e90b8",
                "4cc4577c.1ed178"
            ]
        ]
    },
    {
        "id": "2ace09ae.989926",
        "type": "firebase.on",
        "z": "a3bd263a.b87688",
        "name": "auto switch",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Control 1/auto_switch",
        "atStart": false,
        "eventType": "value",
        "queries": [],
        "x": 210,
        "y": 620,
        "wires": [
            [
                "78220ccf.100cd4",
                "43321ebe.c9b06"
            ]
        ]
    },
    {
        "id": "43321ebe.c9b06",
        "type": "debug",
        "z": "a3bd263a.b87688",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 370,
        "y": 700,
        "wires": []
    },
    {
        "id": "4cc4577c.1ed178",
        "type": "debug",
        "z": "a3bd263a.b87688",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 937.7737007141113,
        "y": 777.6251697540283,
        "wires": []
    },
    {
        "id": "1cdd8120.c2ddff",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "upload led switch",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Control 1/led_switch",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 970,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "6ed3df55.7f526",
        "type": "debug",
        "z": "a3bd263a.b87688",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 964.0234603881836,
        "y": 659.0391101837158,
        "wires": []
    },
    {
        "id": "93b84b73.8cbbd8",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "set auto switch",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Control 1/auto_switch",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 300,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "df5728bd.559488",
        "type": "ui_switch",
        "z": "a3bd263a.b87688",
        "name": "",
        "label": "Auto on (GPS)",
        "group": "1c7a7fb3.c427f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 480,
        "y": 880,
        "wires": [
            [
                "50c3f4da.b9df1c"
            ]
        ]
    },
    {
        "id": "50c3f4da.b9df1c",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "set autoOnGps",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Control 1/autoOnGps",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 660,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "e7ded08a.bdff",
        "type": "firebase.on",
        "z": "a3bd263a.b87688",
        "name": "get autoOnGpsState of phone",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Control 1/autoOnGps",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 240,
        "y": 840,
        "wires": [
            [
                "df5728bd.559488"
            ]
        ]
    },
    {
        "id": "bd77656a.981388",
        "type": "mqtt in",
        "z": "468171ea.27d16",
        "name": "",
        "topic": "DHT11outSensor2",
        "qos": "2",
        "broker": "19928e7d.a46c62",
        "x": 890,
        "y": 240,
        "wires": [
            [
                "c36b36de.c476f8",
                "43b6b4a.0cd374c"
            ]
        ]
    },
    {
        "id": "837f12c5.74e98",
        "type": "mqtt out",
        "z": "468171ea.27d16",
        "name": "",
        "topic": "DHT11intervalSensor2",
        "qos": "2",
        "retain": "",
        "broker": "ea7c91b6.e0d32",
        "x": 1080,
        "y": 1080,
        "wires": []
    },
    {
        "id": "3589d2e2.c4153e",
        "type": "inject",
        "z": "468171ea.27d16",
        "name": "measuring interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 851.0000152587891,
        "y": 1078.0000495910645,
        "wires": [
            [
                "837f12c5.74e98"
            ]
        ]
    },
    {
        "id": "c36b36de.c476f8",
        "type": "function",
        "z": "468171ea.27d16",
        "name": "split string",
        "func": "var output = msg.payload.split(\" \");\n \nvar msg1 = {payload:output[0] + \" ¡ãC\"};\nvar msg2 = {payload:output[1] + \" %\"};\n\nreturn [msg1,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 1126.0000228881836,
        "y": 231.00000762939453,
        "wires": [
            [
                "db54b55c.752008",
                "32ed6a93.92e306"
            ],
            [
                "c75f655e.7be648",
                "553abdd1.6de0f4"
            ]
        ]
    },
    {
        "id": "db54b55c.752008",
        "type": "ui_text",
        "z": "468171ea.27d16",
        "group": "cb60b3b4.cc298",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1427.0000457763672,
        "y": 172.00000381469727,
        "wires": []
    },
    {
        "id": "c75f655e.7be648",
        "type": "ui_text",
        "z": "468171ea.27d16",
        "group": "cb60b3b4.cc298",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1424.0000534057617,
        "y": 232.00000524520874,
        "wires": []
    },
    {
        "id": "32ed6a93.92e306",
        "type": "function",
        "z": "468171ea.27d16",
        "name": "string to float(temp)",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410.0000076293945,
        "y": 300.00000286102295,
        "wires": [
            [
                "cde9b52b.70fbd8",
                "ac71b5cb.ea90a8"
            ]
        ]
    },
    {
        "id": "553abdd1.6de0f4",
        "type": "function",
        "z": "468171ea.27d16",
        "name": "string to float(humi)",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1408.0000381469727,
        "y": 413.0000228881836,
        "wires": [
            [
                "3fe04db6.a79b82",
                "35e5e511.54bb2a"
            ]
        ]
    },
    {
        "id": "3fe04db6.a79b82",
        "type": "ui_gauge",
        "z": "468171ea.27d16",
        "name": "humi",
        "group": "cb60b3b4.cc298",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1651.0003337860107,
        "y": 472.00014781951904,
        "wires": []
    },
    {
        "id": "cde9b52b.70fbd8",
        "type": "ui_chart",
        "z": "468171ea.27d16",
        "name": "Temp",
        "group": "6199d0f2.ef7f2",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 1693.9806175231934,
        "y": 220.99611282348633,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f601701.340379",
        "type": "ui_switch",
        "z": "468171ea.27d16",
        "name": "",
        "label": "LED",
        "group": "cb60b3b4.cc298",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Led",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1218.0002250671387,
        "y": 559.0004978179932,
        "wires": [
            [
                "34d4f215.f6715e",
                "1907c3b2.2522fc",
                "2e30ad83.4ce9e2"
            ]
        ]
    },
    {
        "id": "34d4f215.f6715e",
        "type": "mqtt out",
        "z": "468171ea.27d16",
        "name": "",
        "topic": "LEDinSensor2",
        "qos": "2",
        "retain": "",
        "broker": "19928e7d.a46c62",
        "x": 1442.0002632141113,
        "y": 546.0001525878906,
        "wires": []
    },
    {
        "id": "43b6b4a.0cd374c",
        "type": "function",
        "z": "468171ea.27d16",
        "name": "check temp",
        "func": "context.data = context.data || {};\n\n//get input from 2 source\nswitch (msg.topic){\n    \n    case \"DHT11outSensor2\":\n        var output = msg.payload.split(\" \");\n        context.data.temp = parseFloat(output[0]);\n        msg = null;\n        break;\n        \n    case \"auto\":\n        context.data.auto = msg.payload;\n        msg = null\n        break;\n    \n    default:\n        msg = null;\n        break;\n \n} \n\n  //check for input condition\n if(context.data.temp != null && context.data.auto != null){\n    if(context.data.temp >= 26 && context.data.auto ==1)\n    {\n        var output = 1;\n        //context.data = null; //uncomment will cause input to not update\n        return {payload:output};\n    }\n    else if (context.data.temp < 26 && context.data.auto ==1)\n    {\n        var output = 0;\n        //context.data = null;\n        return {payload:output};\n    }\n    else return msg;\n  }",
        "outputs": "1",
        "noerr": 0,
        "x": 969.0001220703125,
        "y": 563.0000886917114,
        "wires": [
            [
                "42156406.82c45c",
                "f601701.340379"
            ]
        ]
    },
    {
        "id": "4dec1109.7c271",
        "type": "ui_switch",
        "z": "468171ea.27d16",
        "name": "",
        "label": "auto on (temperature)",
        "group": "cb60b3b4.cc298",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "auto",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 620,
        "y": 520,
        "wires": [
            [
                "43b6b4a.0cd374c",
                "b44d573a.ecc128",
                "57983b55.c45d54"
            ]
        ]
    },
    {
        "id": "42156406.82c45c",
        "type": "debug",
        "z": "468171ea.27d16",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1030,
        "y": 680,
        "wires": []
    },
    {
        "id": "35e5e511.54bb2a",
        "type": "firebase modify",
        "z": "468171ea.27d16",
        "name": "Send humi to firebase",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Sensor 2/humi",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1700,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "efdea761.5e0138",
        "type": "firebase modify",
        "z": "468171ea.27d16",
        "name": "send timestamp + temp",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Sensor 2/temperature",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 2036.5327529907227,
        "y": 261.82056999206543,
        "wires": [
            []
        ]
    },
    {
        "id": "ac71b5cb.ea90a8",
        "type": "function",
        "z": "468171ea.27d16",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"temp\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1722.7813987731934,
        "y": 336.3282308578491,
        "wires": [
            [
                "df8221bc.ada01",
                "efdea761.5e0138"
            ]
        ]
    },
    {
        "id": "df8221bc.ada01",
        "type": "debug",
        "z": "468171ea.27d16",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2005.7898292541504,
        "y": 417.1173324584961,
        "wires": []
    },
    {
        "id": "df8c6ba3.9fc7b8",
        "type": "firebase.on",
        "z": "468171ea.27d16",
        "name": "led_switch",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "led_switch/Sensor 2",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 1196.781265258789,
        "y": 774.5316066741943,
        "wires": [
            [
                "f601701.340379",
                "ada86836.d17b68"
            ]
        ]
    },
    {
        "id": "9c427f45.2991d",
        "type": "firebase.on",
        "z": "468171ea.27d16",
        "name": "auto switch",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "auto_switch/Sensor 2",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 400,
        "y": 600,
        "wires": [
            [
                "4dec1109.7c271"
            ]
        ]
    },
    {
        "id": "57983b55.c45d54",
        "type": "debug",
        "z": "468171ea.27d16",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "ada86836.d17b68",
        "type": "debug",
        "z": "468171ea.27d16",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1417.7737007141113,
        "y": 817.6251697540283,
        "wires": []
    },
    {
        "id": "1907c3b2.2522fc",
        "type": "firebase modify",
        "z": "468171ea.27d16",
        "name": "upload led switch",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "led_switch/Sensor 2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1490,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2e30ad83.4ce9e2",
        "type": "debug",
        "z": "468171ea.27d16",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1510,
        "y": 700,
        "wires": []
    },
    {
        "id": "b44d573a.ecc128",
        "type": "firebase modify",
        "z": "468171ea.27d16",
        "name": "set auto switch",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "auto_switch/Sensor 2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 780,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "35bfe162.36c4ee",
        "type": "ui_switch",
        "z": "468171ea.27d16",
        "name": "",
        "label": "Auto on (GPS)",
        "group": "cb60b3b4.cc298",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 960,
        "y": 920,
        "wires": [
            [
                "f308b2e7.d851b"
            ]
        ]
    },
    {
        "id": "f308b2e7.d851b",
        "type": "firebase modify",
        "z": "468171ea.27d16",
        "name": "set autoOnGps",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "autoOnGps/Sensor 2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1140,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "f106455b.3b3d68",
        "type": "firebase.on",
        "z": "468171ea.27d16",
        "name": "get autoOnGpsState of phone",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "autoOnGps/Sensor 2",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 720,
        "y": 880,
        "wires": [
            [
                "35bfe162.36c4ee"
            ]
        ]
    },
    {
        "id": "985d0f66.8a913",
        "type": "mqtt in",
        "z": "a3bd263a.b87688",
        "name": "",
        "topic": "dustOut",
        "qos": "2",
        "broker": "19928e7d.a46c62",
        "x": 210,
        "y": 1180,
        "wires": [
            [
                "c5d9f9d1.7661f8"
            ]
        ]
    },
    {
        "id": "c5d9f9d1.7661f8",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "string to float(dust)",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "ac3b652.f10d098",
                "b3b1806f.5a111"
            ]
        ]
    },
    {
        "id": "ac3b652.f10d098",
        "type": "ui_chart",
        "z": "a3bd263a.b87688",
        "name": "dust",
        "group": "a8346406.1fe678",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "dust(mg/m^3)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 650,
        "y": 1160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "99495b08.df48f8",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "Send dust to firebase",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/Dust 1",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1040,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "188a9fa3.d462a",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"humi\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1300,
        "y": 400,
        "wires": [
            [
                "d7140fc.b541ef"
            ]
        ]
    },
    {
        "id": "b3b1806f.5a111",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"dust\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1280,
        "wires": [
            [
                "99495b08.df48f8"
            ]
        ]
    },
    {
        "id": "c9126fc3.d4a8f",
        "type": "mqtt out",
        "z": "a3bd263a.b87688",
        "name": "send humi to mq135",
        "topic": "inHumi",
        "qos": "2",
        "retain": "",
        "broker": "19928e7d.a46c62",
        "x": 1280,
        "y": 480,
        "wires": []
    },
    {
        "id": "8d9b337f.e9872",
        "type": "mqtt out",
        "z": "a3bd263a.b87688",
        "name": "send humi to mq135",
        "topic": "inTemp",
        "qos": "2",
        "retain": "",
        "broker": "19928e7d.a46c62",
        "x": 1300,
        "y": 220,
        "wires": []
    },
    {
        "id": "6316e765.4fd568",
        "type": "mqtt in",
        "z": "a3bd263a.b87688",
        "name": "co2",
        "topic": "co2ppm",
        "qos": "2",
        "broker": "19928e7d.a46c62",
        "x": 270,
        "y": 1440,
        "wires": [
            [
                "919bfb6.3cd1608"
            ]
        ]
    },
    {
        "id": "919bfb6.3cd1608",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 1440,
        "wires": [
            [
                "36dd56ed.d4363a",
                "d10f26c6.374338"
            ]
        ]
    },
    {
        "id": "36dd56ed.d4363a",
        "type": "ui_chart",
        "z": "a3bd263a.b87688",
        "name": "co2",
        "group": "a8346406.1fe678",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "co2ppm",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "100",
        "ymax": "10000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 670,
        "y": 1400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d10f26c6.374338",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"co2\":msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1500,
        "wires": [
            [
                "e2c9a4bb.dca8a8"
            ]
        ]
    },
    {
        "id": "e2c9a4bb.dca8a8",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "Send co2 to firebase",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/CO2 1",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1080,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "f484dfcf.901b1",
        "type": "mqtt in",
        "z": "a3bd263a.b87688",
        "name": "MQ2",
        "topic": "MQ2ppmOut",
        "qos": "2",
        "broker": "19928e7d.a46c62",
        "x": 230,
        "y": 1760,
        "wires": [
            [
                "3c4e8b0e.bc7184"
            ]
        ]
    },
    {
        "id": "3c4e8b0e.bc7184",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "split string",
        "func": "var output = msg.payload.split(\" \");\n \nvar msg1 = {payload:output[0]};\nvar msg2 = {payload:output[1]};\nvar msg3 = {payload:output[2]};\n\nreturn [msg1,msg2,msg3];",
        "outputs": "3",
        "noerr": 0,
        "x": 400,
        "y": 1780,
        "wires": [
            [
                "b03af418.905be8",
                "33060d44.386112"
            ],
            [
                "4fa4e5b9.ab325c"
            ],
            [
                "7f79953d.3fb8ac"
            ]
        ]
    },
    {
        "id": "b03af418.905be8",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1720,
        "wires": [
            [
                "ae4c61bf.45ce6",
                "3132ec79.6d6384"
            ]
        ]
    },
    {
        "id": "4fa4e5b9.ab325c",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1840,
        "wires": [
            [
                "4c5e03f0.a9e53c",
                "a4ecb625.d65d28"
            ]
        ]
    },
    {
        "id": "7f79953d.3fb8ac",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1960,
        "wires": [
            [
                "551f5fd3.13dfe",
                "f2a03af4.6ff318"
            ]
        ]
    },
    {
        "id": "ae4c61bf.45ce6",
        "type": "ui_chart",
        "z": "a3bd263a.b87688",
        "name": "lpg",
        "group": "a8346406.1fe678",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "lpg(ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 890,
        "y": 1680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4c5e03f0.a9e53c",
        "type": "ui_chart",
        "z": "a3bd263a.b87688",
        "name": "co",
        "group": "a8346406.1fe678",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "co(ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 910,
        "y": 1840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "551f5fd3.13dfe",
        "type": "ui_chart",
        "z": "a3bd263a.b87688",
        "name": "smoke",
        "group": "a8346406.1fe678",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "smoke(ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 910,
        "y": 2000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3132ec79.6d6384",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"lpg\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 1740,
        "wires": [
            [
                "43a3dcb1.84afa4"
            ]
        ]
    },
    {
        "id": "a4ecb625.d65d28",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"co\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 1900,
        "wires": [
            [
                "ee940c43.6022b"
            ]
        ]
    },
    {
        "id": "f2a03af4.6ff318",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"smoke\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 2060,
        "wires": [
            [
                "e2fd5f83.74c93"
            ]
        ]
    },
    {
        "id": "43a3dcb1.84afa4",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "send timestamp + lpg",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/LPG 1",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1220,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "ee940c43.6022b",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "send timestamp + co",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/CO 1",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1220,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "e2fd5f83.74c93",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "send timestamp + smoke",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group  1/SMOKE 1",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1250,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "1744233b.b9315d",
        "type": "ui_text_input",
        "z": "977ddc73.6ab73",
        "name": "",
        "label": "",
        "group": "c32631ac.b7225",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "a3ec4fb8.4b11c",
                "5ebf0ef2.9470a"
            ]
        ]
    },
    {
        "id": "a3ec4fb8.4b11c",
        "type": "debug",
        "z": "977ddc73.6ab73",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f66d16e.fed5a",
        "type": "mqtt out",
        "z": "977ddc73.6ab73",
        "name": "output",
        "topic": "textMQTT",
        "qos": "2",
        "retain": "",
        "broker": "19928e7d.a46c62",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "5ebf0ef2.9470a",
        "type": "function",
        "z": "977ddc73.6ab73",
        "name": "check length",
        "func": "var length = msg.payload.length;\n\nif(length>40)\n{\n    msg.payload=\"over limit\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "6f66d16e.fed5a"
            ]
        ]
    },
    {
        "id": "33060d44.386112",
        "type": "debug",
        "z": "a3bd263a.b87688",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 448.890625,
        "y": 1930.86328125,
        "wires": []
    },
    {
        "id": "abf495eb.ea64c8",
        "type": "mqtt in",
        "z": "a3bd263a.b87688",
        "name": "MQ5",
        "topic": "lpgppm",
        "qos": "2",
        "broker": "19928e7d.a46c62",
        "x": 270,
        "y": 2160,
        "wires": [
            [
                "44bc3986.205208"
            ]
        ]
    },
    {
        "id": "44bc3986.205208",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 2220,
        "wires": [
            [
                "7cb2c673.4c8838",
                "d89ee2f.32b612"
            ]
        ]
    },
    {
        "id": "7cb2c673.4c8838",
        "type": "ui_chart",
        "z": "a3bd263a.b87688",
        "name": "lpg",
        "group": "a8346406.1fe678",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "lpg, MQ5(ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 690,
        "y": 2180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d89ee2f.32b612",
        "type": "function",
        "z": "a3bd263a.b87688",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"lpg\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 2240,
        "wires": [
            [
                "558cf5b2.6ce06c"
            ]
        ]
    },
    {
        "id": "558cf5b2.6ce06c",
        "type": "firebase modify",
        "z": "a3bd263a.b87688",
        "name": "send timestamp + lpg",
        "firebaseconfig": "51bc3477.99612c",
        "childpath": "Group 1/MQ5 LPG 1",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1020,
        "y": 2260,
        "wires": [
            []
        ]
    }
]