compare API.json
[{"id":"88bd2b59.487fd8","type":"inject","z":"f453c395.c1eb3","name":"every 2 min","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":"","x":219.01868438720703,"y":312.0249881744385,"wires":[["7d8e9403.42f69c","d08ccb22.17dd08","49eaf426.a7cdbc","e568a74e.096638"]]},{"id":"7d8e9403.42f69c","type":"http request","z":"f453c395.c1eb3","name":"GET Darksky JSON","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.darksky.net/forecast/53244ed298d70d40ab107e91011a24ca/4.3306252,101.13742789999999?units=si","tls":"","proxy":"","x":521.0187072753906,"y":292.02499198913574,"wires":[["ec8c10ab.6abcc","863cdf5c.ad129"]]},{"id":"c4a97c63.70c9f","type":"debug","z":"f453c395.c1eb3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1076.9435653686523,"y":235.11251068115234,"wires":[]},{"id":"ec8c10ab.6abcc","type":"change","z":"f453c395.c1eb3","name":"extract currently","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.currently","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":799.9311828613281,"y":255.8500394821167,"wires":[["c4a97c63.70c9f","e0384115.313ef"]]},{"id":"863cdf5c.ad129","type":"debug","z":"f453c395.c1eb3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":782.0373687744141,"y":452.0499629974365,"wires":[]},{"id":"e0384115.313ef","type":"function","z":"f453c395.c1eb3","name":"set temp","func":"global.set(\"darksky\", msg.payload.temperature);\n\nreturn msg;","outputs":1,"noerr":0,"x":1031.1312408447266,"y":292.05617332458496,"wires":[["b29e65a9.82f348"]]},{"id":"b29e65a9.82f348","type":"debug","z":"f453c395.c1eb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1209.1435737609863,"y":350.12491035461426,"wires":[]},{"id":"d08ccb22.17dd08","type":"openweathermap","z":"f453c395.c1eb3","name":"","wtype":"current","lon":"101.143364","lat":"4.338544","city":"","country":"","language":"en","x":517.0187530517578,"y":589.0250205993652,"wires":[["3f2aeecf.789372"]]},{"id":"3f2aeecf.789372","type":"function","z":"f453c395.c1eb3","name":"set temp","func":"global.set(\"openweather\", msg.payload.tempc);\n\nreturn msg;","outputs":1,"noerr":0,"x":771.2251586914062,"y":564.8367290496826,"wires":[["3c71bdf5.7535c2"]]},{"id":"5164aa37.3e4034","type":"http request","z":"f453c395.c1eb3","name":"AccuWeather","method":"GET","ret":"obj","paytoqs":false,"url":"http://dataservice.accuweather.com/currentconditions/v1/229699?apikey=Qu4iHjdSSnsgKOk1wRgNLBBstm0d1m0d&language=en-us&details=true&metric=true","tls":"","proxy":"","x":544.0187530517578,"y":770.0250244140625,"wires":[["aaa17f9f.cbe14","8b434ce1.8285b"]]},{"id":"aaa17f9f.cbe14","type":"debug","z":"f453c395.c1eb3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":796.5248413085938,"y":699.291654586792,"wires":[]},{"id":"8b434ce1.8285b","type":"function","z":"f453c395.c1eb3","name":"","func":"global.set(\"accuweather\", msg.payload[0].Temperature.Metric.Value);\n\nreturn msg;","outputs":1,"noerr":0,"x":760.5124893188477,"y":786.216649055481,"wires":[["7e5544bf.f078dc"]]},{"id":"7e5544bf.f078dc","type":"debug","z":"f453c395.c1eb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1027.5124473571777,"y":832.2854423522949,"wires":[]},{"id":"3c71bdf5.7535c2","type":"debug","z":"f453c395.c1eb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1052.018798828125,"y":634.0250368118286,"wires":[]},{"id":"d0780468.7048e8","type":"ui_chart","z":"f453c395.c1eb3","name":"","group":"ab8e5612.6c1758","order":0,"width":0,"height":0,"label":"API comparison","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aa0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":716.9185409545898,"y":925.168794631958,"wires":[[]]},{"id":"49eaf426.a7cdbc","type":"function","z":"f453c395.c1eb3","name":"","func":"temp_darksky = global.get(\"darksky\");\ntemp_openweather = global.get(\"openweather\");\ntemp_accuweather = global.get(\"accuweather\");\n\nmsg1 = {\n    payload : temp_darksky,\n    topic : \"darksky\"\n};\n\nmsg2 = {\n    payload: temp_openweather,\n    topic: \"openweather\"\n};\n\nmsg3 = {\n    payload: temp_accuweather,\n    topic: \"accuweather\"\n};\n\nreturn [msg1, msg2, msg3];\n\n","outputs":3,"noerr":0,"x":504.01874923706055,"y":936.0250949859619,"wires":[["d0780468.7048e8"],["d0780468.7048e8"],["d0780468.7048e8"]]},{"id":"e568a74e.096638","type":"function","z":"f453c395.c1eb3","name":"get para","func":"temp_darksky = global.get(\"darksky\");\ntemp_openweather = global.get(\"openweather\");\ntemp_accuweather = global.get(\"accuweather\");\ntimestamp = Date.now();\n\nmsg.payload = {\n    \"temp_darksky\": temp_darksky,\n    \"temp_openweather\": temp_openweather,\n    \"temp_accuweather\": temp_accuweather,\n    \"timestamp\": timestamp\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":509.91870880126953,"y":1037.3874435424805,"wires":[["72eb585d.869748"]]},{"id":"72eb585d.869748","type":"firebase modify","z":"f453c395.c1eb3","name":"","firebaseconfig":"","childpath":"","method":"push","value":"msg.payload","priority":"msg.priority","x":828.0186614990234,"y":1033.0250177383423,"wires":[[]]},{"id":"8c29b283.7d17b","type":"inject","z":"f453c395.c1eb3","name":"every 9 min","topic":"","payload":"","payloadType":"date","repeat":"540","crontab":"","once":false,"onceDelay":0.1,"x":143.92498016357422,"y":757.343831539154,"wires":[["5164aa37.3e4034"]]},{"id":"ab8e5612.6c1758","type":"ui_group","z":"","name":"Default","tab":"e0d0a02b.e8c5a","disp":false,"width":"8","collapse":false},{"id":"e0d0a02b.e8c5a","type":"ui_tab","z":"","name":"API compare","icon":"dashboard","disabled":false,"hidden":false}]