FYP.json
[
    {
        "id": "aba87f88.298ae",
        "type": "tab",
        "label": "FYP using",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f5b81fe.04355e",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "DHT11out",
        "qos": "1",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 518.0187835693359,
        "y": 296.02499198913574,
        "wires": [
            [
                "5ba9970e.5578c8"
            ]
        ]
    },
    {
        "id": "f194db49.48b8c8",
        "type": "mqtt out",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "DHT11interval",
        "qos": "1",
        "retain": "",
        "broker": "a07c845e.d0fa28",
        "x": 1244.0188121795654,
        "y": 1983.025071144104,
        "wires": []
    },
    {
        "id": "2ce5b3c5.28369c",
        "type": "inject",
        "z": "aba87f88.298ae",
        "name": "measuring interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 898.0189151763916,
        "y": 2048.0251812934875,
        "wires": [
            [
                "f194db49.48b8c8",
                "aeac6769.455be8"
            ]
        ]
    },
    {
        "id": "5ba9970e.5578c8",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "split string",
        "func": "var output = msg.payload.split(\" \");\n \nvar msg1 = {payload:output[0] + \" 째C\"};\nvar msg2 = {payload:output[1] + \" %\"};\n\nreturn [msg1,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 727.0187454223633,
        "y": 292.0249881744385,
        "wires": [
            [
                "1772acc1.65f4c3",
                "98066057.c1271"
            ],
            [
                "a4d803d0.6164e",
                "75ed8a92.f20124"
            ]
        ]
    },
    {
        "id": "1772acc1.65f4c3",
        "type": "ui_text",
        "z": "aba87f88.298ae",
        "group": "fd90bb4a.ea5248",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1048.018783569336,
        "y": 236.02499198913574,
        "wires": []
    },
    {
        "id": "a4d803d0.6164e",
        "type": "ui_text",
        "z": "aba87f88.298ae",
        "group": "fd90bb4a.ea5248",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1038.018783569336,
        "y": 296.02499198913574,
        "wires": []
    },
    {
        "id": "98066057.c1271",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nglobal.set(\"temperature\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1008.0187911987305,
        "y": 396.0249948501587,
        "wires": [
            [
                "10ca87fb.316d18",
                "7810d37b.804c9c"
            ]
        ]
    },
    {
        "id": "75ed8a92.f20124",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nglobal.set(\"humidity\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1005.0189056396484,
        "y": 518.0250272750854,
        "wires": [
            [
                "d06f8ee2.cc8e7",
                "2398f1cd.875e3e"
            ]
        ]
    },
    {
        "id": "10ca87fb.316d18",
        "type": "ui_chart",
        "z": "aba87f88.298ae",
        "name": "Temp",
        "group": "4751f85.b011008",
        "order": 0,
        "width": "8",
        "height": "8",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 1256.0188331604004,
        "y": 348.024995803833,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7810d37b.804c9c",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1309.0188293457031,
        "y": 391.02498054504395,
        "wires": [
            [
                "d931723f.2fdce",
                "fbe3eb21.6896b8"
            ]
        ]
    },
    {
        "id": "d931723f.2fdce",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1592.0381698608398,
        "y": 398.02887535095215,
        "wires": []
    },
    {
        "id": "d06f8ee2.cc8e7",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1285.0187683105469,
        "y": 530.0249586105347,
        "wires": [
            [
                "d3f950f0.a66e6"
            ]
        ]
    },
    {
        "id": "eff6010.34313",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "Dust sensor",
        "topic": "PMout",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 878.5188121795654,
        "y": 1087.025071144104,
        "wires": [
            [
                "6d586368.246d1c",
                "3c56b105.3950fe"
            ]
        ]
    },
    {
        "id": "6d586368.246d1c",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "split string",
        "func": "var output = msg.payload.split(\" \");\n \nvar msg1 = {payload:output[0] + \" ug/m3\"};\nvar msg2 = {payload:output[1] + \" ug/m3\"};\n\nreturn [msg1,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 1077.0188121795654,
        "y": 1083.025071144104,
        "wires": [
            [
                "cf0da3c0.96693",
                "41d8479c.3dbfd8"
            ],
            [
                "42676c44.3e5654",
                "90e561e5.bae7a"
            ]
        ]
    },
    {
        "id": "42676c44.3e5654",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1331.1472911834717,
        "y": 1168.0355081558228,
        "wires": [
            [
                "3f3eab58.6a7804",
                "e9174c55.eb7ca"
            ]
        ]
    },
    {
        "id": "cf0da3c0.96693",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1346.1472911834717,
        "y": 1032.0355081558228,
        "wires": [
            [
                "5be799ad.be39b8",
                "1475c534.1dc00b"
            ]
        ]
    },
    {
        "id": "5be799ad.be39b8",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1653.9250621795654,
        "y": 1044.0355081558228,
        "wires": [
            [
                "2a3f109c.2a04c"
            ]
        ]
    },
    {
        "id": "3f3eab58.6a7804",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1657.9250621795654,
        "y": 1195.0355081558228,
        "wires": [
            [
                "b3a385b2.38c208"
            ]
        ]
    },
    {
        "id": "1475c534.1dc00b",
        "type": "ui_chart",
        "z": "aba87f88.298ae",
        "name": "Dust",
        "group": "33dfdd9b.7f7fe2",
        "order": 0,
        "width": "8",
        "height": "8",
        "label": "PM2.5",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 1576.258436203003,
        "y": 969.0354776382446,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e9174c55.eb7ca",
        "type": "ui_chart",
        "z": "aba87f88.298ae",
        "name": "Dust",
        "group": "33dfdd9b.7f7fe2",
        "order": 0,
        "width": "8",
        "height": "8",
        "label": "PM10",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 1580.258436203003,
        "y": 1140.0355081558228,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fd9df602.0065d8",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "Sgp30",
        "topic": "Sgp30out",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 868.8139476776123,
        "y": 1353.0355081558228,
        "wires": [
            [
                "ab5d0d80.041d9"
            ]
        ]
    },
    {
        "id": "ab5d0d80.041d9",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "split string",
        "func": "var output = msg.payload.split(\" \");\n \nvar msg1 = {payload:output[0] + \" ppb\"};\nvar msg2 = {payload:output[1] + \" ppm\"};\n\nreturn [msg1,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 1102.814016342163,
        "y": 1334.0356216430664,
        "wires": [
            [
                "5847001d.b7595",
                "703b7942.9c3388"
            ],
            [
                "34e47e1.a517e82"
            ]
        ]
    },
    {
        "id": "5847001d.b7595",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1336.5383071899414,
        "y": 1313.0288696289062,
        "wires": [
            [
                "e221732f.cba02",
                "2c9cb68d.49c0ea"
            ]
        ]
    },
    {
        "id": "34e47e1.a517e82",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1334.5383071899414,
        "y": 1368.0288181304932,
        "wires": [
            [
                "b61e5e.9e6311a"
            ]
        ]
    },
    {
        "id": "b9af5fc5.92bc1",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1343.538381576538,
        "y": 1454.029034614563,
        "wires": [
            [
                "388fdc3.3c3af24"
            ]
        ]
    },
    {
        "id": "cc58f6ed.a70e28",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1338.538381576538,
        "y": 1551.0289726257324,
        "wires": [
            [
                "692f50d4.ba365"
            ]
        ]
    },
    {
        "id": "e221732f.cba02",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1740.2884578704834,
        "y": 1326.0289974212646,
        "wires": [
            [
                "39236ae.087f496"
            ]
        ]
    },
    {
        "id": "b61e5e.9e6311a",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1741.2885112762451,
        "y": 1406.02903175354,
        "wires": [
            [
                "ea0d61b3.189ab"
            ]
        ]
    },
    {
        "id": "388fdc3.3c3af24",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1678.2885189056396,
        "y": 1529.0289888381958,
        "wires": [
            [
                "a378526d.863a7"
            ]
        ]
    },
    {
        "id": "692f50d4.ba365",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1662.288335800171,
        "y": 1607.0290956497192,
        "wires": [
            [
                "daa5a37e.9879b",
                "b4768e4.f6c817"
            ]
        ]
    },
    {
        "id": "2c9cb68d.49c0ea",
        "type": "ui_chart",
        "z": "aba87f88.298ae",
        "name": "VOC",
        "group": "98036c94.eb3d6",
        "order": 0,
        "width": "8",
        "height": "8",
        "label": "VOC",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 1672.2883930206299,
        "y": 1272.0290579795837,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a132a7b5.e04af8",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "T6713",
        "topic": "T6713out",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 876.04225730896,
        "y": 1740.064148902893,
        "wires": [
            [
                "36d18ec8.626e52"
            ]
        ]
    },
    {
        "id": "31889071.3bebd",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "string to float",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1227.0423259735107,
        "y": 1756.0642442703247,
        "wires": [
            [
                "ba808c54.bb66f",
                "a0d6eb5c.b7fb78"
            ]
        ]
    },
    {
        "id": "ba808c54.bb66f",
        "type": "ui_chart",
        "z": "aba87f88.298ae",
        "name": "CO2",
        "group": "c373750.cb6fd88",
        "order": 0,
        "width": "8",
        "height": "8",
        "label": "CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "300",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 1463.0424327850342,
        "y": 1726.0642738342285,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "aeac6769.455be8",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1229.807939529419,
        "y": 2070.204984664917,
        "wires": []
    },
    {
        "id": "a0d6eb5c.b7fb78",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format data before sending",
        "func": " msg.payload = {\n                \"data\": msg.payload, \n                \"timestamp\": Date.now()\n      };\nreturn msg;\n\n//timestamp in ms\n//timestamp in UTC",
        "outputs": 1,
        "noerr": 0,
        "x": 1455.5267009735107,
        "y": 1825.548620223999,
        "wires": [
            [
                "d4f63db2.e14af"
            ]
        ]
    },
    {
        "id": "9e3ef320.eab11",
        "type": "inject",
        "z": "aba87f88.298ae",
        "name": "sgp30 baseline interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "x": 930.5266513824463,
        "y": 2207.548515319824,
        "wires": [
            [
                "ea1843a9.f670c",
                "fa8fb45b.c9b7d8"
            ]
        ]
    },
    {
        "id": "ea1843a9.f670c",
        "type": "mqtt out",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "SGPbaseline",
        "qos": "1",
        "retain": "",
        "broker": "a07c845e.d0fa28",
        "x": 1283.5267276763916,
        "y": 2160.5480461120605,
        "wires": []
    },
    {
        "id": "487e5679.693b58",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "Sgp30baseline",
        "topic": "Sgp30baseline",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 897.5266246795654,
        "y": 1505.048508644104,
        "wires": [
            [
                "9f13aa7b.4cc968",
                "64c99e8a.62697"
            ]
        ]
    },
    {
        "id": "9f13aa7b.4cc968",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "split string",
        "func": "var output = msg.payload.split(\" \");\n \nvar msg1 = {payload:output[0] + \" ppb\"};\nvar msg2 = {payload:output[1] + \" ppm\"};\n\nreturn [msg1,msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 1102.5266246795654,
        "y": 1508.548508644104,
        "wires": [
            [
                "b9af5fc5.92bc1"
            ],
            [
                "cc58f6ed.a70e28"
            ]
        ]
    },
    {
        "id": "fa8fb45b.c9b7d8",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1299.2765083312988,
        "y": 2226.5721187591553,
        "wires": []
    },
    {
        "id": "daa5a37e.9879b",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 2017.2688121795654,
        "y": 1723.571946144104,
        "wires": []
    },
    {
        "id": "64c99e8a.62697",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1075.7609996795654,
        "y": 1616.064133644104,
        "wires": []
    },
    {
        "id": "3c56b105.3950fe",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1077.776647567749,
        "y": 1166.0719866752625,
        "wires": []
    },
    {
        "id": "2398f1cd.875e3e",
        "type": "ui_chart",
        "z": "aba87f88.298ae",
        "name": "",
        "group": "4751f85.b011008",
        "order": 0,
        "width": "8",
        "height": "8",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 1222.647720336914,
        "y": 478.9859127998352,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "41d8479c.3dbfd8",
        "type": "ui_text",
        "z": "aba87f88.298ae",
        "group": "fd90bb4a.ea5248",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM2.5",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1214.2843952178955,
        "y": 903.275068283081,
        "wires": []
    },
    {
        "id": "90e561e5.bae7a",
        "type": "ui_text",
        "z": "aba87f88.298ae",
        "group": "fd90bb4a.ea5248",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM10",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1207.2843914031982,
        "y": 967.0250492095947,
        "wires": []
    },
    {
        "id": "703b7942.9c3388",
        "type": "ui_text",
        "z": "aba87f88.298ae",
        "group": "fd90bb4a.ea5248",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "VOC",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1301.0343914031982,
        "y": 1237.5250492095947,
        "wires": []
    },
    {
        "id": "4679584b.066d28",
        "type": "ui_text",
        "z": "aba87f88.298ae",
        "group": "fd90bb4a.ea5248",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1248.034517288208,
        "y": 1847.275489807129,
        "wires": []
    },
    {
        "id": "36d18ec8.626e52",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "mod string",
        "func": "\nvar msg1 = {payload: msg.payload + \" ppm\"};\n\nreturn msg1;",
        "outputs": "1",
        "noerr": 0,
        "x": 1044.0344676971436,
        "y": 1781.275366783142,
        "wires": [
            [
                "4679584b.066d28",
                "31889071.3bebd"
            ]
        ]
    },
    {
        "id": "fc29c95e.22be18",
        "type": "mqtt out",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "OnIn",
        "qos": "1",
        "retain": "",
        "broker": "a07c845e.d0fa28",
        "x": 869.5427131652832,
        "y": 727.0716781616211,
        "wires": []
    },
    {
        "id": "a2595999.207048",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1975.0186748504639,
        "y": 3521.0245246887207,
        "wires": []
    },
    {
        "id": "8222593a.ad9128",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "global variable",
        "func": "global.set(\"setpoint\", parseInt(msg.payload)); // save setpoint as global variable\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1758.378038406372,
        "y": 3612.8798503875732,
        "wires": [
            [
                "a2595999.207048",
                "256f4184.da93ee"
            ]
        ]
    },
    {
        "id": "679ab72e.241478",
        "type": "mqtt out",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "Ac_controller",
        "qos": "2",
        "retain": "",
        "broker": "a07c845e.d0fa28",
        "x": 2253.0187377929688,
        "y": 3553.0245447158813,
        "wires": []
    },
    {
        "id": "84c2831d.ce935",
        "type": "comment",
        "z": "aba87f88.298ae",
        "name": "ac control",
        "info": "send setpoint when starting.\nnodemcu receive and save as variable.",
        "x": 2183.8521099090576,
        "y": 3480.0245294570923,
        "wires": []
    },
    {
        "id": "de1c7de.6522f8",
        "type": "ui_button",
        "z": "aba87f88.298ae",
        "name": "",
        "group": "fd90bb4a.ea5248",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "power",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 666.2612724304199,
        "y": 734.4391403198242,
        "wires": [
            [
                "fc29c95e.22be18",
                "257001d1.95586e",
                "a25d328a.b808b"
            ]
        ]
    },
    {
        "id": "257001d1.95586e",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "invert",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 843.7767791748047,
        "y": 626.6968908309937,
        "wires": [
            [
                "c21f324f.84ec8",
                "1cf4b3e.9ac7d4c"
            ]
        ]
    },
    {
        "id": "c21f324f.84ec8",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1007.7610397338867,
        "y": 681.5640316009521,
        "wires": []
    },
    {
        "id": "256f4184.da93ee",
        "type": "trigger",
        "z": "aba87f88.298ae",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "500",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 2007.0186138153076,
        "y": 3595.0245265960693,
        "wires": [
            [
                "679ab72e.241478",
                "736d7db5.bf3ab4"
            ]
        ]
    },
    {
        "id": "a25d328a.b808b",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 905.7609786987305,
        "y": 797.5719594955444,
        "wires": []
    },
    {
        "id": "d2731587.0f7bd8",
        "type": "ui_dropdown",
        "z": "aba87f88.298ae",
        "name": "",
        "label": "fan speed",
        "tooltip": "",
        "place": "Select option",
        "group": "fd90bb4a.ea5248",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "MIN",
                "value": "0",
                "type": "str"
            },
            {
                "label": "MEDIUM",
                "value": "1",
                "type": "str"
            },
            {
                "label": "MAX",
                "value": "2",
                "type": "str"
            },
            {
                "label": "TURBO",
                "value": "3",
                "type": "str"
            },
            {
                "label": "QUIET",
                "value": "4",
                "type": "str"
            },
            {
                "label": "AUTO",
                "value": "5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 958.0187473297119,
        "y": 2420.024814605713,
        "wires": [
            [
                "8a5651ac.cda7b",
                "3a01e1d6.f3c6be",
                "3512d65a.89040a"
            ]
        ]
    },
    {
        "id": "8a5651ac.cda7b",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1253.018840789795,
        "y": 2479.024739265442,
        "wires": []
    },
    {
        "id": "23a22cf7.eae7a4",
        "type": "mqtt out",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "control1/fanSpeed",
        "qos": "2",
        "retain": "",
        "broker": "a07c845e.d0fa28",
        "x": 985.0187835693359,
        "y": 2350.0250968933105,
        "wires": []
    },
    {
        "id": "736d7db5.bf3ab4",
        "type": "ui_dropdown",
        "z": "aba87f88.298ae",
        "name": "",
        "label": "Temperature Setting",
        "place": "Select option",
        "group": "fd90bb4a.ea5248",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            },
            {
                "label": "",
                "value": 24,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 26,
                "type": "num"
            },
            {
                "label": "",
                "value": 27,
                "type": "num"
            },
            {
                "label": "",
                "value": 28,
                "type": "num"
            },
            {
                "label": "",
                "value": 29,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 2216.0187015533447,
        "y": 3651.024501800537,
        "wires": [
            [
                "e3a20da8.2825d",
                "4fb85d61.aa2e84",
                "d1d029cb.5ff4e8"
            ]
        ]
    },
    {
        "id": "e3a20da8.2825d",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2459.3373737335205,
        "y": 3714.118272781372,
        "wires": []
    },
    {
        "id": "8962f807.00ec78",
        "type": "trigger",
        "z": "aba87f88.298ae",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "500",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 746.8374576568604,
        "y": 2422.050081729889,
        "wires": [
            [
                "d2731587.0f7bd8",
                "23a22cf7.eae7a4"
            ]
        ]
    },
    {
        "id": "e3c2bf47.d81a8",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "get parameters",
        "func": "temperature = global.get(\"temperature\");\nhumidity = global.get(\"humidity\");\nweather = global.get(\"weather\");\ntime = global.get(\"time\");\nsetting = global.get(\"setpoint\");\nfan = global.get(\"fan\");\n\nif(fan == 0){\n    temp = \"Low\";\n}else if (fan == 1){\n    temp = \"Medium\";\n}else if (fan == 2){\n    temp = \"Max\";\n}else if (fan == 3){\n    temp = \"Turbo\";\n}else if (fan == 4){\n    temp = \"Quiet\";\n}else if (fan == 5){\n    temp = \"Auto\";\n}\n\nmsg.payload = {\"temperature\": temperature,\n    \"humidity\": humidity,\n    \"weather\": weather.weather,\n    \"outdoor_temperature\": weather.temperature,\n    \"time\": time.time,\n    \"setting\": setting,\n    \"fan\": temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1051.7310237884521,
        "y": 3077.055974960327,
        "wires": [
            [
                "836bd825.8def48",
                "29d5aa93.d02556"
            ]
        ]
    },
    {
        "id": "836bd825.8def48",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1282.3373050689697,
        "y": 3053.1118144989014,
        "wires": []
    },
    {
        "id": "29d5aa93.d02556",
        "type": "ui_template",
        "z": "aba87f88.298ae",
        "group": "333cab3.c2c4254",
        "name": "",
        "order": 5,
        "width": "9",
        "height": "18",
        "format": "<h1>Temperature: </h1>\n<div><font size=\"14\">{{msg.payload.temperature}}째C</font></div>\n\n<h1><br>Humidity: </h1>\n<div><font size=\"14\">{{msg.payload.humidity}}%</font></div>\n\n<h1><br>Time of Day: </h1>\n<div><font size=\"14\">{{msg.payload.time}}</font></div>\n\n<h1><br>Weather: </h1>\n<div><font size=\"14\">{{msg.payload.weather}}</font></div>\n\n<h1><br>Outdoor Temperature: </h1>\n<div><font size=\"14\">{{msg.payload.outdoor_temperature}}째C</font></div>\n\n<h1><br>Air conditioner Setting: </h1>\n<div><font size=\"14\">Temperature: {{msg.payload.setting}}째C</font></div>\n<div><font size=\"14\">Fan Speed: {{msg.payload.fan}}</font></div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1335.5439376831055,
        "y": 3105.6934509277344,
        "wires": [
            []
        ]
    },
    {
        "id": "d1ccb3f4.2c6f1",
        "type": "ui_dropdown",
        "z": "aba87f88.298ae",
        "name": "",
        "label": "Thermal Comfort Level",
        "tooltip": "",
        "place": "Select option",
        "group": "f288a965.5c28c8",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "options": [
            {
                "label": "Cold",
                "value": -3,
                "type": "num"
            },
            {
                "label": "Cool",
                "value": -2,
                "type": "num"
            },
            {
                "label": "Slightly Cool",
                "value": -1,
                "type": "num"
            },
            {
                "label": "Neutral",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Slightly Warm",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Warm",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Hot",
                "value": "3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1079.5313110351562,
        "y": 3452.851204395294,
        "wires": [
            [
                "55fb0dd3.906a94"
            ]
        ]
    },
    {
        "id": "b59d3d6f.ab647",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1509.518726348877,
        "y": 3437.093062400818,
        "wires": []
    },
    {
        "id": "45622043.21d79",
        "type": "ui_template",
        "z": "aba87f88.298ae",
        "group": "f288a965.5c28c8",
        "name": "Change font size of dropdown",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<!doctype html>\n\n<html>\n\n<head>\n    <style>\n\n        #User_VOTE_cards {\n            font-size: 30px;\n        \n        }\n        \n        #User_submit_cards { \n           font-size: 30px;\n        \n        }\n    </style>\n</head>\n\n<body></body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1064.2186393737793,
        "y": 3394.6921253204346,
        "wires": [
            []
        ]
    },
    {
        "id": "29626db4.10af72",
        "type": "ui_button",
        "z": "aba87f88.298ae",
        "name": "",
        "group": "f288a965.5c28c8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 721.5187244415283,
        "y": 3331.3584775924683,
        "wires": [
            [
                "d1ccb3f4.2c6f1",
                "ab576c3f.17bca",
                "ad3104b1.279218",
                "15f0ce34.9945e2"
            ]
        ]
    },
    {
        "id": "386d9ca9.a36104",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1307.9434413909912,
        "y": 3270.525582075119,
        "wires": []
    },
    {
        "id": "83d58126.311be",
        "type": "ui_text_input",
        "z": "aba87f88.298ae",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "f288a965.5c28c8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "",
        "x": 220.73112869262695,
        "y": 3948.942955970764,
        "wires": [
            [
                "17df0d7a.c25283"
            ]
        ]
    },
    {
        "id": "545a73e0.700cdc",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 663.7434959411621,
        "y": 3961.912265777588,
        "wires": []
    },
    {
        "id": "e7931660.518b78",
        "type": "openweathermap",
        "z": "aba87f88.298ae",
        "name": "",
        "wtype": "current",
        "lon": "101.143364",
        "lat": "4.338544",
        "city": "",
        "country": "",
        "language": "en",
        "x": 809.9436855316162,
        "y": 2749.6685638427734,
        "wires": [
            [
                "652c3b.d04033c4",
                "cde63186.44a1c"
            ]
        ]
    },
    {
        "id": "c70e3ae9.c6fed8",
        "type": "inject",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 832.9373989105225,
        "y": 3087.7621183395386,
        "wires": [
            [
                "e3c2bf47.d81a8"
            ]
        ]
    },
    {
        "id": "c9e14fd3.2f04f",
        "type": "inject",
        "z": "aba87f88.298ae",
        "name": "Every 1min",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 567.037561416626,
        "y": 2815.4497203826904,
        "wires": [
            [
                "a1ef226.99ddbe",
                "e7931660.518b78",
                "7f11a131.7d666"
            ]
        ]
    },
    {
        "id": "cde63186.44a1c",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "extract temperature and weather",
        "func": "\nmsg.payload = { \"temperature\": msg.payload.tempc,\n                \"weather\": msg.payload.weather\n    \n};\n\nglobal.set(\"weather\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1161.1501178741455,
        "y": 2748.4801845550537,
        "wires": [
            [
                "c590d383.69cef"
            ]
        ]
    },
    {
        "id": "c590d383.69cef",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1269.1623668670654,
        "y": 2826.5494747161865,
        "wires": []
    },
    {
        "id": "dd5fd3aa.750b7",
        "type": "comment",
        "z": "aba87f88.298ae",
        "name": "obtain weather",
        "info": "",
        "x": 641.1373996734619,
        "y": 2670.349615097046,
        "wires": []
    },
    {
        "id": "a1ef226.99ddbe",
        "type": "moment",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Asia/Kuala_Lumpur",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "en_US",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Kuala_Lumpur",
        "x": 777.4375095367432,
        "y": 2959.2499561309814,
        "wires": [
            [
                "16001f73.4a5be1"
            ]
        ]
    },
    {
        "id": "a52e94e5.3a8ef8",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1654.8373947143555,
        "y": 2975.031156539917,
        "wires": []
    },
    {
        "id": "16001f73.4a5be1",
        "type": "split",
        "z": "aba87f88.298ae",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 978.8435649871826,
        "y": 2959.7249393463135,
        "wires": [
            [
                "a95ee035.37058"
            ]
        ]
    },
    {
        "id": "a95ee035.37058",
        "type": "join",
        "z": "aba87f88.298ae",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1126.8373775482178,
        "y": 2960.6936683654785,
        "wires": [
            [
                "b4539016.660e1"
            ]
        ]
    },
    {
        "id": "b4539016.660e1",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "format hour to time of day",
        "func": "hour = msg.payload[0];\nhour = parseInt(hour);\n\nif(hour>0 && hour<12){\n    time = \"Morning\";\n}else if(hour>= 12 && hour<=18){\n    time = \"Afternoon\";\n}else if (hour>18 && hour<=23){\n    time = \"Evening\";\n}\n\nmsg.payload ={\"time\": time};\n\nglobal.set(\"time\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1332.8437595367432,
        "y": 2960.981456756592,
        "wires": [
            [
                "a52e94e5.3a8ef8"
            ]
        ]
    },
    {
        "id": "652c3b.d04033c4",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1004.0374240875244,
        "y": 2838.4498081207275,
        "wires": []
    },
    {
        "id": "ab576c3f.17bca",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "get parameters",
        "func": "temperature = global.get(\"temperature\");\nhumidity = global.get(\"humidity\");\nweather = global.get(\"weather\");\ntime = global.get(\"time\");\nsetting = global.get(\"setpoint\");\nname = global.get(\"name\");\nAMV = global.get(\"AMV\");\ntimestamp = Date.now();\nfan = global.get(\"fan\");\n\nmsg.payload = {\"temperature\": temperature,\n    \"humidity\": humidity,\n    \"weather\": weather.weather,\n    \"outdoor_temperature\": weather.temperature,\n    \"time of day\": time.time,\n    \"setting\": setting,\n    \"name\": name,\n    \"AMV\": AMV,\n    \"timestamp\": timestamp,\n    \"fan\": fan\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 995.037130355835,
        "y": 3298.0492992401123,
        "wires": [
            [
                "386d9ca9.a36104",
                "c443dd65.1839b"
            ]
        ]
    },
    {
        "id": "17df0d7a.c25283",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "set name into global",
        "func": "name = msg.payload;\nglobal.set(\"name\", name);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437.7311782836914,
        "y": 3963.849374771118,
        "wires": [
            [
                "545a73e0.700cdc"
            ]
        ]
    },
    {
        "id": "55fb0dd3.906a94",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "set AMV into global",
        "func": "AMV = msg.payload;\nglobal.set(\"AMV\", AMV);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1296.437126159668,
        "y": 3441.450325012207,
        "wires": [
            [
                "b59d3d6f.ab647"
            ]
        ]
    },
    {
        "id": "4fb85d61.aa2e84",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "global variable",
        "func": "global.set(\"setpoint\", msg.payload); // save setpoint as global variable\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2301.837205886841,
        "y": 3795.049882888794,
        "wires": [
            []
        ]
    },
    {
        "id": "9eaf3049.aa716",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "global variable",
        "func": "global.set(\"fan\", parseInt(msg.payload)); // save setpoint as global variable\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 557.0374507904053,
        "y": 2431.0499019622803,
        "wires": [
            [
                "8962f807.00ec78",
                "3efe07e5.572638"
            ]
        ]
    },
    {
        "id": "3a01e1d6.f3c6be",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "global variable",
        "func": "global.set(\"fan\", msg.payload); // save setpoint as global variable\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1058.0374851226807,
        "y": 2522.0500054359436,
        "wires": [
            []
        ]
    },
    {
        "id": "4883e1e7.df4bc",
        "type": "mqtt out",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "environmentData",
        "qos": "2",
        "retain": "false",
        "broker": "a07c845e.d0fa28",
        "x": 671.5309028625488,
        "y": 3446.036651611328,
        "wires": []
    },
    {
        "id": "28f168ea.4db668",
        "type": "firebase auth",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "x": 651.5186538696289,
        "y": 135.0249786376953,
        "wires": [
            []
        ]
    },
    {
        "id": "fbe3eb21.6896b8",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/Temperature",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1699.5248985290527,
        "y": 272.11878967285156,
        "wires": [
            []
        ]
    },
    {
        "id": "d3f950f0.a66e6",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/Humidity",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1716.0002212524414,
        "y": 515.0000531673431,
        "wires": [
            []
        ]
    },
    {
        "id": "1cf4b3e.9ac7d4c",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/Control/on",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1185.2000122070312,
        "y": 604.0000324249268,
        "wires": [
            []
        ]
    },
    {
        "id": "2a3f109c.2a04c",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/PM25",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 2073.8667907714844,
        "y": 1026.6667575836182,
        "wires": [
            []
        ]
    },
    {
        "id": "b3a385b2.38c208",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/PM10",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 2114.8667907714844,
        "y": 1176.3334331512451,
        "wires": [
            []
        ]
    },
    {
        "id": "39236ae.087f496",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/VOC",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 2136.8668060302734,
        "y": 1303.0000648498535,
        "wires": [
            []
        ]
    },
    {
        "id": "ea0d61b3.189ab",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/eCO2",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 2139.8668060302734,
        "y": 1418.333444595337,
        "wires": [
            []
        ]
    },
    {
        "id": "a378526d.863a7",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/VOC_base",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 2158.8667907714844,
        "y": 1532.3334503173828,
        "wires": [
            []
        ]
    },
    {
        "id": "b4768e4.f6c817",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/eCO2_base",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 2147.866798400879,
        "y": 1635.3334608078003,
        "wires": [
            []
        ]
    },
    {
        "id": "d4f63db2.e14af",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/CO2",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1917.867015838623,
        "y": 1798.3334255218506,
        "wires": [
            []
        ]
    },
    {
        "id": "35c2db57.fe4c44",
        "type": "firebase.on",
        "z": "aba87f88.298ae",
        "name": "getSetpoint",
        "firebaseconfig": "",
        "childpath": "room1/Control/fan",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 330.46673583984375,
        "y": 2403.666932106018,
        "wires": [
            [
                "9eaf3049.aa716"
            ]
        ]
    },
    {
        "id": "a661f184.319ed",
        "type": "firebase.once",
        "z": "aba87f88.298ae",
        "name": "initSetpoint",
        "firebaseconfig": "",
        "childpath": "room1/Control/fan",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 332.8179702758789,
        "y": 2477.9203453063965,
        "wires": [
            [
                "9eaf3049.aa716"
            ]
        ]
    },
    {
        "id": "3512d65a.89040a",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/Control/fan",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1368.9669952392578,
        "y": 2411.8671312332153,
        "wires": [
            []
        ]
    },
    {
        "id": "d1d029cb.5ff4e8",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "room1/Control/Temperature",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 2663.2667694091797,
        "y": 3575.333523750305,
        "wires": [
            []
        ]
    },
    {
        "id": "df52e004.5cdf8",
        "type": "firebase auth",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "x": 1003.3666534423828,
        "y": 3205.199941635132,
        "wires": [
            []
        ]
    },
    {
        "id": "c443dd65.1839b",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1382.8668594360352,
        "y": 3319.6669340133667,
        "wires": [
            []
        ]
    },
    {
        "id": "90a26ef4.01412",
        "type": "firebase.on",
        "z": "aba87f88.298ae",
        "name": "getSetpoint",
        "firebaseconfig": "",
        "childpath": "room1/Control/Temperature",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 1585.8001289367676,
        "y": 3589.0001978874207,
        "wires": [
            [
                "8222593a.ad9128"
            ]
        ]
    },
    {
        "id": "8c5badae.2023d",
        "type": "firebase.once",
        "z": "aba87f88.298ae",
        "name": "initSetpoint",
        "firebaseconfig": "",
        "childpath": "room1/Control/Temperature",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 1580.1514015197754,
        "y": 3688.254195690155,
        "wires": [
            [
                "8222593a.ad9128"
            ]
        ]
    },
    {
        "id": "9b50b3d5.11b48",
        "type": "firebase.on",
        "z": "aba87f88.298ae",
        "name": "power",
        "firebaseconfig": "",
        "childpath": "room1/Control/on",
        "atStart": false,
        "eventType": "child_changed",
        "queries": [],
        "x": 522.000072479248,
        "y": 760.6668968200684,
        "wires": [
            [
                "de1c7de.6522f8"
            ]
        ]
    },
    {
        "id": "785d6278.67b6bc",
        "type": "inject",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "162000",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 198.9124984741211,
        "y": 3468.9368000030518,
        "wires": [
            [
                "b5ada644.2e4108"
            ]
        ]
    },
    {
        "id": "b5ada644.2e4108",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "get parameters",
        "func": "temperature = global.get(\"temperature\");\nhumidity = global.get(\"humidity\");\nweather = global.get(\"weather\");\nfan = global.get(\"fan\");\ntemp_setting = global.get(\"setpoint\");\n\nmsg.payload = {\n    \"fan\": parseInt(fan),\n    \"humidity\": humidity,\n    \"outdoor_temperature\": weather.temperature,\n    \"temperature\": temperature,\n    \"setpoint\": temp_setting\n\n};\n\ntimestamp = Date.now();\n\nglobal.set(\"predictTemp\", temperature);\nglobal.set(\"predictHumidity\", humidity);\nglobal.set(\"predictOutdoorTemp\", weather.temperature);\nglobal.set(\"predictFan\", fan);\nglobal.set(\"predictSetpoint\", temp_setting);\nglobal.set(\"predictTime\", timestamp);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 411.01879119873047,
        "y": 3517.624158859253,
        "wires": [
            [
                "4883e1e7.df4bc",
                "435ff2b8.f15fec"
            ]
        ]
    },
    {
        "id": "435ff2b8.f15fec",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 648.6999740600586,
        "y": 3554.6000185012817,
        "wires": []
    },
    {
        "id": "3106e248.53101e",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "fanAddress",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 789.7181968688965,
        "y": 2532.249746799469,
        "wires": [
            [
                "d2731587.0f7bd8"
            ]
        ]
    },
    {
        "id": "9657d1e5.64ae5",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "tempAddress",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 1861.7243728637695,
        "y": 3738.2373332977295,
        "wires": [
            [
                "bf2e1021.001db",
                "736d7db5.bf3ab4"
            ]
        ]
    },
    {
        "id": "3efe07e5.572638",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580.9248886108398,
        "y": 2526.255904197693,
        "wires": []
    },
    {
        "id": "bf2e1021.001db",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2034.5184516906738,
        "y": 3776.661943435669,
        "wires": []
    },
    {
        "id": "ad3104b1.279218",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "get parameters",
        "func": "name = global.get(\"name\");\nAMV = global.get(\"AMV\");\ntemperature = global.get(\"predictTemp\");\nhumidity = global.get(\"predictHumidity\");\nOutdoorTemp = global.get(\"predictOutdoorTemp\");\nfan = global.get(\"predictFan\");\ntemp_setting = global.get(\"predictSetpoint\");\ntimestamp = global.get(\"predictTime\");\npmv = global.get(\"pmvPredcition\");\n\nmsg.payload = {\n    \"name\": name,\n    \"temperature\": temperature,\n    \"humidity\": humidity,\n    \"outdoor_temperature\": OutdoorTemp,\n    \"setting\": temp_setting,\n    \"timestamp\": timestamp,\n    \"fan\": fan,\n    \"AMV\": AMV,\n    \"PMV\": pmv\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 964.3335189819336,
        "y": 3554.934009552002,
        "wires": [
            [
                "6df4f31c.bbb6fc",
                "805730cd.c0532",
                "12b4100f.afc39"
            ]
        ]
    },
    {
        "id": "c7f36478.2890c8",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "pmvPrediction",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 248.30004501342773,
        "y": 3679.666533470154,
        "wires": [
            [
                "93cf007e.660f4"
            ]
        ]
    },
    {
        "id": "93cf007e.660f4",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "get parameters",
        "func": "msg.payload = parseInt(msg.payload);\nglobal.set(\"pmvPredcition\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 458.0001449584961,
        "y": 3668.267890930176,
        "wires": [
            []
        ]
    },
    {
        "id": "12b4100f.afc39",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1349.9999923706055,
        "y": 3537.600128173828,
        "wires": [
            []
        ]
    },
    {
        "id": "6df4f31c.bbb6fc",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "",
        "func": "msg1 = {\n    payload : msg.payload.PMV,\n    topic : \"PMV\"\n};\n\nmsg2 = {\n    payload: msg.payload.AMV,\n    topic: \"AMV\"\n};\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 1103.9666748046875,
        "y": 3681.2677459716797,
        "wires": [
            [
                "75027579.6dd6bc",
                "600dcc66.8bd554"
            ],
            [
                "600dcc66.8bd554"
            ]
        ]
    },
    {
        "id": "805730cd.c0532",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1289.9667320251465,
        "y": 3593.533537864685,
        "wires": []
    },
    {
        "id": "75027579.6dd6bc",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1293.3000411987305,
        "y": 3663.5333213806152,
        "wires": []
    },
    {
        "id": "600dcc66.8bd554",
        "type": "ui_chart",
        "z": "aba87f88.298ae",
        "name": "",
        "group": "52e606f3.127288",
        "order": 0,
        "width": "12",
        "height": "12",
        "label": "AMV vs PMV",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-3",
        "ymax": "3",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#141d85",
            "#d01313",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1338.3001136779785,
        "y": 3724.600015640259,
        "wires": [
            []
        ]
    },
    {
        "id": "7f11a131.7d666",
        "type": "mqtt out",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "intervalAPI",
        "qos": "2",
        "retain": "",
        "broker": "a07c845e.d0fa28",
        "x": 802.5124435424805,
        "y": 2870.1999893188477,
        "wires": []
    },
    {
        "id": "9c810588.a1a328",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "DHT22out",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 893.5188369750977,
        "y": 2648.2434101104736,
        "wires": [
            [
                "f952fdb2.2b89f",
                "ca3e1cb1.27975"
            ]
        ]
    },
    {
        "id": "ca3e1cb1.27975",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "get parameters",
        "func": "time = Date.now();\ntemperatureOutside = parseFloat(msg.payload);\nweather = global.get(\"weather\");\n\nmsg.payload = {\"temperatureOutside\": temperatureOutside,\n    \"temperatureApi\":  weather.temperature,\n    \"timestamp\": time\n\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1153.618797302246,
        "y": 2602.024649620056,
        "wires": [
            [
                "b3f677e4.fb6188",
                "be8c1db3.4ae7c",
                "894d8b8d.b98a98"
            ]
        ]
    },
    {
        "id": "b3f677e4.fb6188",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1466.5187225341797,
        "y": 2570.225051879883,
        "wires": [
            []
        ]
    },
    {
        "id": "be8c1db3.4ae7c",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1439.5248336791992,
        "y": 2617.256206512451,
        "wires": []
    },
    {
        "id": "f952fdb2.2b89f",
        "type": "debug",
        "z": "aba87f88.298ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1132.5124740600586,
        "y": 2673.243508338928,
        "wires": []
    },
    {
        "id": "894d8b8d.b98a98",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "",
        "func": "msg1 = {\n    payload : msg.payload.temperatureOutside,\n    topic : \"Outide\"\n};\n\nmsg2 = {\n    payload: msg.payload.temperatureApi,\n    topic: \"API\"\n};\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 1430.6187324523926,
        "y": 2669.024937391281,
        "wires": [
            [
                "de1b6b9e.a97c88"
            ],
            [
                "de1b6b9e.a97c88"
            ]
        ]
    },
    {
        "id": "de1b6b9e.a97c88",
        "type": "ui_chart",
        "z": "aba87f88.298ae",
        "name": "",
        "group": "76e8dfe7.4c5d8",
        "order": 0,
        "width": "8",
        "height": "8",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#a21111",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1575.5124759674072,
        "y": 2668.1622562408447,
        "wires": [
            []
        ]
    },
    {
        "id": "72eaf5be.ab089c",
        "type": "firebase auth",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "x": 512.8186950683594,
        "y": 3216.224578857422,
        "wires": [
            []
        ]
    },
    {
        "id": "ad888b90.7914a8",
        "type": "mqtt in",
        "z": "aba87f88.298ae",
        "name": "",
        "topic": "pmvPredictionANN",
        "qos": "2",
        "datatype": "auto",
        "broker": "a07c845e.d0fa28",
        "x": 252.0187530517578,
        "y": 3787.624755859375,
        "wires": [
            [
                "465c272.ebdb0d8"
            ]
        ]
    },
    {
        "id": "465c272.ebdb0d8",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "get parameters",
        "func": "msg.payload = parseInt(msg.payload);\nglobal.set(\"pmvPredcitionANN\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 499.7188034057617,
        "y": 3770.2259378433228,
        "wires": [
            []
        ]
    },
    {
        "id": "f3e3cfd4.3738e",
        "type": "firebase auth",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "x": 507.0187454223633,
        "y": 3157.624698638916,
        "wires": [
            []
        ]
    },
    {
        "id": "15f0ce34.9945e2",
        "type": "function",
        "z": "aba87f88.298ae",
        "name": "get parameters",
        "func": "name = global.get(\"name\");\nAMV = global.get(\"AMV\");\ntemperature = global.get(\"predictTemp\");\nhumidity = global.get(\"predictHumidity\");\nOutdoorTemp = global.get(\"predictOutdoorTemp\");\nfan = global.get(\"predictFan\");\ntemp_setting = global.get(\"predictSetpoint\");\ntimestamp = global.get(\"predictTime\");\npmv = global.get(\"pmvPredcitionANN\");\n\nmsg.payload = {\n    \"name\": name,\n    \"temperature\": temperature,\n    \"humidity\": humidity,\n    \"outdoor_temperature\": OutdoorTemp,\n    \"setting\": temp_setting,\n    \"timestamp\": timestamp,\n    \"fan\": fan,\n    \"AMV\": AMV,\n    \"PMV\": pmv\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 984.0186767578125,
        "y": 3820.624566078186,
        "wires": [
            [
                "d8fc130e.c1877"
            ]
        ]
    },
    {
        "id": "d8fc130e.c1877",
        "type": "firebase modify",
        "z": "aba87f88.298ae",
        "name": "",
        "firebaseconfig": "",
        "childpath": "",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1297.685203552246,
        "y": 3819.2902879714966,
        "wires": [
            []
        ]
    },
    {
        "id": "a07c845e.d0fa28",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.137.158",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fd90bb4a.ea5248",
        "type": "ui_group",
        "z": "",
        "name": "NodeMcu",
        "tab": "9ec7f0a8.608",
        "disp": false,
        "width": "6"
    },
    {
        "id": "4751f85.b011008",
        "type": "ui_group",
        "z": "",
        "name": "Temp & Humi",
        "tab": "9ec7f0a8.608",
        "disp": false,
        "width": "8"
    },
    {
        "id": "33dfdd9b.7f7fe2",
        "type": "ui_group",
        "z": "",
        "name": "Dust",
        "tab": "9ec7f0a8.608",
        "disp": false,
        "width": "8"
    },
    {
        "id": "98036c94.eb3d6",
        "type": "ui_group",
        "z": "",
        "name": "Voc & co2",
        "tab": "9ec7f0a8.608",
        "disp": false,
        "width": "8"
    },
    {
        "id": "c373750.cb6fd88",
        "type": "ui_group",
        "z": "",
        "name": "CO2",
        "tab": "9ec7f0a8.608",
        "disp": false,
        "width": "8"
    },
    {
        "id": "333cab3.c2c4254",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "597175bb.6f180c",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "f288a965.5c28c8",
        "type": "ui_group",
        "z": "",
        "name": "VOTE",
        "tab": "597175bb.6f180c",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "52e606f3.127288",
        "type": "ui_group",
        "z": "",
        "name": "AMV vs PMV",
        "tab": "47719e09.fa90e",
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "76e8dfe7.4c5d8",
        "type": "ui_group",
        "z": "",
        "name": "outside VS api",
        "tab": "47719e09.fa90e",
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "9ec7f0a8.608",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "597175bb.6f180c",
        "type": "ui_tab",
        "z": "",
        "name": "User",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "47719e09.fa90e",
        "type": "ui_tab",
        "z": "",
        "name": "Graph",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]